.shopComp-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.shopComp {
    background-color: #151515;
    margin-top: 60px;
    padding: 5px 20px;
    border: 1px solid rgb(100, 100, 100);
    transition: transform 0.2s ease;
}

.shopComp:hover {
    transform: scale(1.025);
    border: 1px solid rgb(160, 160, 160);
}

/* Responsive design */
@media(max-width: 768px) {
    .shopComp-container {
        gap: 10px;
    }
}

@media(max-width: 480px) {
    .shopComp-container {
        gap: 0px;
    }

    .shopComp {
        background-color: #252525;
        padding: 5px 30px;
    }
}